.sobre-section {
    padding: 4rem 0;
}

.texto-sobre {
    padding: 0 8rem;
}

.sobre-section h2 {
    font-size: var(--font-s3);
    display: flex;
    align-items: center;
}

.card-tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}

.tecnologias, .ferramentas {
   display: flex;
   gap: 5rem;
}

.tecnologia, .ferramenta {
    font-size: var(--font-s4);
}

.tecnologias {
    padding: 5rem 0;
}

.card-sobre {
    color: var(--cor-preto);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-sobre p {
    font-size: var(--font-s1);
}

.certificados {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem 0;
    gap: 5rem;
}