.typing {
    font-size: var(--font-s3);
    color: var(--cor-preto);
    font-family: 'JetBrains Mono', monospace;
}

.cursor {
    animation: blink 0.7s steps(1) infinite;
    color: var(--cor-cinza);
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width:430px) {
    .typing {
        font-size: 1rem ;
    }
}