.marquee {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
  position: relative;
}

.marquee-inner {
  display: flex;
  animation: marquee 50s linear infinite;
}

.marquee-img {
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px var(--cor-cinza);
  margin-right: 5rem;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}