.header {
    padding: 1rem;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navegacao .logo {
    display: flex;
    gap: 0.5rem;
}

.navegacao .logo h1, .navegacao .logo {
    color: var(--cor-vermelho);
}

.navegacao ul {
    display: flex;
    list-style: none;
    gap: 5rem;
}

.navegacao a {
    text-decoration: none;
}

.navegacao a.active {
    position: relative;
    color: var(--cor-vermelho); 
}

.navegacao a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--cor-vermelho); 
    border-radius: 2px;
}