.header {
    padding: 2rem 0 0;
}

.rotas {
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style: none;
}

.rota {
    text-decoration: none;
    color: var(--cor-preto);
}

.rota:hover {
  
    border-bottom: 2px solid var(--cor-preto);
}

