* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-branco: #FFFFFF;            
  --cor-cinza: #888888;     
  --cor-preto: #000000;               
  --font-s1: 1rem;
  --font-s2: 1.5rem;
  --font-s3: 2rem;
  --font-s4: 3rem;
}

body {
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  font-family: 'Inter', sans-serif;
}