@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --cor-branco: #FFFFFF;         
  --cor-cinza-claro: #F5F5F5;   
  --cor-cinza-medio: #B0B0B0;     
  --cor-preto: #111111;           
  --cor-azul-suave: #0077FF;    
  --font-s1: 1rem;
  --font-s2: 1.2rem;
  --font-s3: 1.4rem;
}

body {
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
  font-size: var(--font-s3);
}

p {
  font-size: var(--font-s2);
}

a {
  font-size: var(--font-s1);
  color: var(--cor-preto)
}